body {
  background-color: #222222;
  font-family: 'system-ui';
  color: #ffffff;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-content: center;
}

.game {
  height: 100%;
  height: 600px;
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}




.optionButtons {
  display: flex;
  justify-content: space-around;
}

.optionButtons > button{
  width: 2rem;
  height: 2rem;
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;

}